*.iml
.gradle
app/.cxx
app/build
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradlew
gradlew.bat
Filter/build
ignore.sh

WifiTrackerLib/build
iconloaderlib/build
setupcompat/build
setupdesign/build

SettingsLib/build
SettingsLib/Tile/build
SettingsLib/AdaptiveIcon/build
SettingsLib/RestrictedLockUtils/build
SettingsLib/HelpUtils/build
SettingsLib/SettingsTheme/build
SettingsLib/AppPreference/build
SettingsLib/SearchWidget/build
SettingsLib/SettingsSpinner/build
SettingsLib/LayoutPreference/build
SettingsLib/ActionButtonsPreference/build
SettingsLib/EntityHeaderWidgets/build
SettingsLib/BarChartPreference/build
SettingsLib/ProgressBar/build
SettingsLib/RadioButtonPreference/build
SettingsLib/DisplayDensityUtils/build
SettingsLib/Utils/build
SettingsLib/ActionBarShadow/build
SettingsLib/search/build
SettingsLib/ActivityEmbedding/build
SettingsLib/BannerMessagePreference/build
SettingsLib/SettingsTransition/build
SettingsLib/CollapsingToolbarBaseActivity/build
SettingsLib/EmergencyNumber/build
SettingsLib/FooterPreference/build
SettingsLib/IllustrationPreference/build
SettingsLib/UsageProgressBarPreference/build
SettingsLib/TwoTargetPreference/build
SettingsLib/TopIntroPreference/build
SettingsLib/MainSwitchPreference/build
SettingsLib/ButtonPreference/build
SettingsLib/SelectorWithWidgetPreference/build

res/drawable-nodpi/aab_brightness.jpg
res/drawable-nodpi/adaptive_sleep.jpg
res/drawable-nodpi/gesture_ambient_lift.jpg
res/drawable-nodpi/gesture_fingerprint_swipe.jpg
res/drawable-nodpi/gesture_twist.jpg
res/drawable-nodpi/gesture_prevent_ringing.jpg
res/drawable-nodpi/gesture_double_tap.jpg
res/drawable-nodpi/gesture_assist.jpg
res/drawable-nodpi/auto_awesome_battery.jpg
res/drawable-nodpi/gesture_ambient_tap.jpg
res/drawable-nodpi/gesture_ambient_tap_screen.jpg
res/drawable-nodpi/gesture_ambient_wake_lock_screen.jpg
res/drawable-nodpi/gesture_ambient_wake_screen.jpg