*.iml
.gradle
app/.cxx
app/build
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradlew
gradlew.bat
Filter/build
ignore.sh

res/drawable-nodpi/aab_brightness.jpg
res/drawable-nodpi/adaptive_sleep.jpg
res/drawable-nodpi/gesture_ambient_lift.jpg
res/drawable-nodpi/gesture_fingerprint_swipe.jpg
res/drawable-nodpi/gesture_twist.jpg
res/drawable-nodpi/gesture_prevent_ringing.jpg
res/drawable-nodpi/gesture_double_tap.jpg
res/drawable-nodpi/gesture_assist.jpg
res/drawable-nodpi/auto_awesome_battery.jpg
res/drawable-nodpi/gesture_ambient_tap.jpg
res/drawable-nodpi/gesture_ambient_tap_screen.jpg
res/drawable-nodpi/gesture_ambient_wake_lock_screen.jpg
res/drawable-nodpi/gesture_ambient_wake_screen.jpg